*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.value input {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 100px;

    background-color: rgb(233, 230, 230);
    font-size: 20px;
    width: 400px;




}
.value{
    padding-left: 500px;
    padding-top: 100px;
}
.text h1{
    padding-left: 500px;
    padding-top: 50px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn2 {
   
    padding-top: 30px;
}
.btn2 button {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    
    background-color: rgb(4, 110, 71);
    color: aliceblue;
 
}
.btn2 button:hover{
    cursor: pointer;
    background-color: rgb(7, 137, 89);;
}
